# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^connexion/$   index.php?controller=utilisateur&action=connexion [nc]
RewriteRule ^inscription/$   index.php?controller=candidat&action=inscription [nc]
RewriteRule ^politique-de-confidentialité/$   index.php?controller=view&action=politique [nc]
RewriteRule ^mentions-légales/$   index.php?controller=view&action=mentions [nc]
RewriteRule ^utilisation-des-cookies/$   index.php?controller=view&action=cookies [nc]
RewriteRule ^candidat/$   index.php?controller=candidat&action=show [nc]
RewriteRule ^poste/$   index.php?controller=poste&action=show [nc]
RewriteRule ^statut/$   index.php?controller=statut&action=show [nc]
RewriteRule ^utilisateur/$   index.php?controller=utilisateur&action=show [nc]
RewriteRule ^deconnexion/$   index.php?controller=utilisateur&action=deconnexion [nc]
RewriteRule ^erreur/$   index.php?controller=view&action=erreur [nc]
RewriteRule ^candidat/en-attente/$   index.php?controller=candidat&action=show&idS=1 [nc,qsa]
RewriteRule ^candidat/accepté/$   index.php?controller=candidat&action=show&idS=2 [nc,qsa]
RewriteRule ^candidat/refusé/$   index.php?controller=candidat&action=show&idS=3 [nc,qsa]
RewriteRule ^candidat/([0-9]+)/$   index.php?controller=candidat&action=edit&idC=$1 [nc,qsa]
RewriteRule ^candidat/ajouter/$   index.php?controller=candidat&action=add [nc]
RewriteRule ^poste/([0-9]+)/$   index.php?controller=poste&action=edit&idP=$1 [nc,qsa]
RewriteRule ^poste/ajouter/$   index.php?controller=poste&action=add [nc]
RewriteRule ^utilisateur/([0-9]+)/$   index.php?controller=utilisateur&action=edit&idU=$1 [nc,qsa]
RewriteRule ^utilisateur/ajouter/$   index.php?controller=utilisateur&action=add [nc]
RewriteRule ^statut/([0-9]+)/$   index.php?controller=statut&action=edit&idS=$1 [nc,qsa]
RewriteRule ^statut/ajouter/$   index.php?controller=statut&action=add [nc]
RewriteRule ^mot-de-passe-oublié/$   index.php?controller=utilisateur&action=mdpOublie [nc]
RewriteRule ^mot-de-passe-oublié-code/$   index.php?controller=utilisateur&action=mdpCode [nc]
RewriteRule ^changer-mot-de-passe/$   index.php?controller=utilisateur&action=mdpChange [nc]
RewriteRule ^candidat/refus/([0-9]+)/$   index.php?controller=candidat&action=refus&idC=$1 [nc,qsa]
RewriteRule ^candidat/accepté/([0-9]+)/$   index.php?controller=candidat&action=accepte&idC=$1 [nc,qsa]
RewriteRule ^poste/del/([0-9]+)/$   index.php?controller=poste&action=delete&idP=$1 [nc,qsa]
RewriteRule ^utilisateur/del/([0-9]+)/$   index.php?controller=utilisateur&action=delete&idU=$1 [nc,qsa]
RewriteRule ^statut/del/([0-9]+)/$   index.php?controller=statut&action=delete&idS=$1 [nc,qsa]
RewriteRule ^candidat/del/([0-9]+)/$   index.php?controller=candidat&action=delete&idC=$1 [nc,qsa]
RewriteRule ^poste/desac/([0-9]+)/$   index.php?controller=poste&action=desactiver&idP=$1 [nc,qsa]
RewriteRule ^poste/reac/([0-9]+)/$   index.php?controller=poste&action=reactiver&idP=$1 [nc,qsa]
RewriteRule ^candidat/vider/([0-9]+)/$   index.php?controller=candidat&action=viderStatut&idS=$1 [nc,qsa]
